interface:
  display_name: {{ item.manifest.codex.interface.display_name | to_json }}
  short_description: {{ item.manifest.codex.interface.short_description | to_json }}
  default_prompt: {{ item.manifest.codex.interface.default_prompt | to_json }}
